@import "base/_reset";
@import "base/_fonts";
//@import "components/_slick";
@import "layout/_content";
@import "layout/_form";
@import "layout/_sent";
@import "layout/popup";


.full-form__input {
  width: 100%;
}

.full-form__item.animate-input.hide .full-form__input {
  color: transparent;
}

.animate-input + .full-form__radio-other-toggle {
  border: 1px solid #176ce2;
  background-color: #176ce2;
}


.animate-input.hide + .full-form__radio-other-toggle {
  border: 1px solid #5b627d;
  background-color: #5b627d;
}
